<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-devour="{{devour}}">
		{{#if eaten}}EAT AGAIN!{{else}}DEVOUR!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE BURGER</button>
</li>
